* {
    font-family: 'Lora', Georgia, Times, 'Times New Roman', serif;
  }
  
  a {
    text-decoration: none !important;
  }
  
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    font-size: 2rem;
    font-style: italic;
    background-color: #b3977d;
    border-radius: 0 0 1em 1em;
    text-shadow: 1px 1px 4px cadetblue;
  }
  
  header h1 {
    padding-left: 1em;
  }
  
  
  footer {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    border-radius: 1em 1em 0 0;
    background-color: #b3977d;
  }
  
.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
min-height: 500px;
margin-top: auto;
margin-bottom: auto;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 15px;
  }

  footer {
    font-size: 13px;
  }
  .basdepage {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  footer {
    font-size: 10px;
  }
  .basdepage {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .basdepage a {
    margin: auto;
  }

  .total {
    font-size: 15px;
  }

  h2 {
    font-size: 17px;
    padding: 10px;
  }

  .orderid {
    padding: 5%;
  }
}
