* {
    font-family: 'Lora', Georgia, Times, 'Times New Roman', serif;
  }
  
  a {
    text-decoration: none !important;
  }
  
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    font-size: 2rem;
    font-style: italic;
    background-color: #b3977d;
    border-radius: 0 0 1em 1em;
    text-shadow: 1px 1px 4px cadetblue;
  }
  
  header h1 {
    padding-left: 1em;
  }
  
  
  footer {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    border-radius: 1em 1em 0 0;
    background-color: #b3977d;
  }
  
.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
min-height: 500px;
margin-top: auto;
margin-bottom: auto;
}