* {
    font-family: 'Lora', Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none !important;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

header{
    font-size: 2rem;
    font-style: italic;
    background-color: #b3977d;
    border-radius: 0 0 1em 1em;
    h1 {
        padding-left: 1em;
    }
}

.teddy-bear__bg {
    margin: auto;
    width: 95%;
    border: rgb(153, 153, 148) 3px solid;
    border-radius: 2em;
    box-shadow: 0 0 15px 2px rgb(66, 65, 65) ;
    background-image: url(/images/nounours.jpg);
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.teddy-bear__bg__text-group {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2 {
        font-size: 3em;
    }
    p {
        font-size: 2em;
    }
}

.catalogue {
    font-size: 2em;
    font-style: italic;
    text-decoration: cadetblue wavy underline;
}

footer {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    border-radius: 1em 1em 0 0;
    background-color: #b3977d;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10vh ;

}
.product {
    max-width: 10%;
    box-shadow: 0 0 10px 1px rgb(161, 160, 160);
}

.product__img {
    width: 100%;
    height: 100%;
    background: rgb(182, 165, 139);
    border-radius: 10px 10px 0 0;
}

.product__img img {
    border-radius: 10%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;  
}